@use 'vars';

.mobile-menu {
    position: absolute;
    background-color: var(--white);
    top: 90px;
    left: 0;
    padding: 0px 80px 20px 20px;
    width: 100%;
    bottom: 0;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
}
.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--SHorange);
}
.mobile-menu ul li {
    margin-bottom: 24px;
}
.email {
    font-size: var(--sm);
    font-weight: 300;
}
.sign-out{
    font-size: var(--sm);
    color: var(--SHgreen) !important;
}
