@media (max-width: 800px) {
    .logo{
        display: block;
    }
    .logo-nav{
        width: 120px;
    }
    .secundary-button{
        width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }

    .bot-ton{
        width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }

    
     /*-----mobile-menu-----*/
     
    .menu{
        display: block;
        cursor: pointer;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .mobile-menu {
        position: absolute;
        background-color: var(--white);
        top: 90px;
        left: 0;
        padding: 0px 80px 20px 20px;
        width: 100%;
        bottom: 0;
    }
    .mobile-menu a {
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        /* margin-bottom: 24px; */
    }
    .mobile-menu ul {
        padding: 0;
        margin: 24px 0 0;
        list-style: none;
    }
    .mobile-menu ul:nth-child(1) {
        border-bottom: 1px solid var(--very-light-pink);
    }
    .mobile-menu ul li {
        margin-bottom: 24px;
    }
    .email {
        font-size: var(--sm);
        font-weight: 300 !important;
    }
    .sign-out {
        font-size: var(--sm);
        color: var(--SHgreen) !important;
    }

    /*-----product detail-----*/

    .mobileDetail{
        width: 100%;
    }

    /*Order*/

    .MyOrder {
		width: 100%;
	}
}
